@font-face {
    src: url(./fonts/Poppins-Light.ttf);
    font-family: Poppins Light;
}

@font-face {
    src: url(./fonts/Poppins-Regular.ttf);
    font-family: Poppins Regular;
}

@keyframes lift{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes drop{
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    background-color: rgb(224, 231, 234);
    scroll-behavior: smooth;
}

h1#splash-text {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    font-size: 45px;
}

h1#download-text {
    font-family: Poppins Regular;
    color: white;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
}

h2#splash-text-minor {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 20px;
    margin-top: -20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

img#download-svg {
    max-height: 50%;
    max-width: 50%;
    margin-left: -18px;
    margin-right: 10px;
}

div#banner {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    align-items: center;
    -webkit-box-shadow: 3px 4px 20px -8px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 4px 20px -8px rgba(0,0,0,0.20);
    box-shadow: 3px 4px 20px -8px rgba(0,0,0,0.20);
}

div#banner > img {
    max-width: 80%;
    max-height: 80%;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    margin-left: 50px;
}

div#banner > img:hover {
    cursor: pointer;
}

div#banner > a {
    font-family: Poppins Regular;
    font-size: 15px;
    color: rgb(41,48,50);
    text-decoration: none;
    margin-left: 25px;

    animation: drop 0.5s;
    -webkit-animation: drop 0.5s;
    -moz-animation: drop 0.5s;
    -ms-animation: drop 0.5s;
    -o-animation: drop 0.5s;
    backface-visibility: hidden;
}

div#banner > a:visited {
    color: rgb(41,48,50);
}

div#banner > a:hover {
    animation: lift 0.5s;
    -webkit-animation: lift 0.5s;
    -moz-animation: lift 0.5s;
    -ms-animation: lift 0.5s;
    -o-animation: lift 0.5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
}



div#lander {
    display: flex;
    height: 600px;
    width: 100%;
    background-color: rgb(224, 231, 234);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div#lander > div {
    display: flex;

}

div#lander-downloads {
    margin: 10px;
    height: 400px;
    width: 400px;
    margin-top: 100px;
    flex-direction: column;
}

div#lander-image {
    margin: 10px;
    width: 600px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

div#download-now {
    display: flex;
    height: 45px;
    width: 250px;
    background-color: rgb(52, 114, 253);
    border-radius: 25px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

div#download-now:hover {
    cursor: pointer;
    background-color: rgb(47, 105, 230);
}

div#lander-downloads > p {
    font-family: Poppins Light;
    color: rgb(150, 150, 150);
    font-size: 10px;
    margin-left: 50px;
    margin-top: 2px;
}

a#download {
    text-decoration: none;
}

div#why {
    display: flex;
    height: 550px;
    width: 100%;
    background-color: white;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

div#deserve {
    display: flex;
    height: 350px;
    width: 350px;
    flex-direction: column;
    margin-left: -25px;
}

div#deserve > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin-bottom: 0px;
}

div#deserve > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin-top: 0px;
}

div#deserve > a {
    font-family: Poppins Regular;
    color: rgb(47, 105, 230);
    text-decoration: none;
}

div#deserve > a:visited {
    color: rgb(47, 105, 230);
}

div#basics {
    display: flex;
    height: 500px;
    width: 550px;
    flex-direction: column;
    margin-left: 150px;
    justify-content: center;
}

div#basics > h1 {
    font-family: Poppins Regular;
    color: rgb(47, 105, 230);
    margin: 0px;
    font-size: 25px;
    margin-left: 20px;
}

div#basics-box {
    display: flex;
    height: 400px;
    width: 450px;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(240,240,240);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
}

div.inner-box {
    display: flex;
    height: 33%;
    width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
    align-items: center;
    flex-direction: row;
}

div#last-inner-box {
    border: none
}

div.inner-icon {
    display: flex;
    height: 100%;
    width: 75px;
    align-items: center;
    justify-content: center;
}

div.inner-icon > img {
    max-width: 45%;
    max-height: 40%;
    margin-top: -50px;
}

div.inner-text {
    display: flex;
    height: 100%;
    width: 375px;
    flex-direction: column;
}

div.inner-text > h3 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    font-size: 17px; 
    margin-top: 20px;
    margin-bottom: 5px;
}

div.inner-text > h4 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 14px;
    margin-top: 0px;
}

div#ad-blocker {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(224, 231, 234);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div#ad-pic {
    display: flex;
    height: 350px;
    width: 350px;
    margin-right: 75px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: white;
}

div#ad-pic > img {
    max-width: 75%;
    height: 75%;
    margin-left: 30px;
}

div#ad-text {
    display: flex;
    height: 350px;
    width: 350px;
    margin-left: 75px;
    justify-content: center;
    flex-direction: column;
}

div#ad-text > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#ad-text > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin-top: 0px;
}

div#customize {
    display: flex;
    height: 650px;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

div#browser-images {
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div#browser-images > img {
    max-height: 85%;
    max-width: 85%;
}

div#customize-text {
    display: flex;
    width: 85%;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
}

div#customize-text > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#customize-text > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin-top: 0px;
}

div#portal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

div#portal-image {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div#portal-text {
    display: flex;
    height: 25%;
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div#portal-text > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#portal-text > a {
    font-family: Poppins Regular;
    color: rgb(47, 105, 230);
    font-size: 18px;
    text-decoration: none;
}

div#portal-text > a:visited {
    color: rgb(47, 105, 230);
}

div#development {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: rgb(224, 231, 234);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div#development-text {
    display: flex;
    height: 350px;
    width: 350px;
    margin-right: 75px;
    justify-content: center;
    flex-direction: column;
}

div#development-text > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#development-text > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin-top: 0px;
} 

div#development-pic {
    display: flex;
    height: 350px;
    width: 350px;
    margin-left: 75px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: white;
}

div#development-pic > img {
    max-width: 75%;
    height: 75%;
}

div#pricing {
    display: flex;
    height: 550px;
    width: 100%;
    background-color: white;
    align-items: center;
    flex-direction: column;
}

div#membership-text {
    display: flex;
    height: 125px;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#membership-text > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#membership-text > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin-top: 0px;
}

div#membership-box {
    display: flex;
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/memberbg.jpg");
    border: 1px solid rgb(240,240,240);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
}

div#membership-box > h1 {
    font-family: Poppins Regular;
    color: rgb(74, 196, 74);
    margin: 0px;
}

div#membership-box > h2 {
    font-family: Poppins Light;
    color: rgb(41,48,50);
    font-size: 18px;
    margin: 0px;
}

.check-box {
    display: flex;
    width: 100%;
    height: 65%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: -20px;
}

li {
    font-family: Poppins Light;
    margin-top: -5px;
}

ul {
    margin-top: 5px;
    margin-left: -30px;
    list-style: none;
}

ul li:before {
    content: '✓ ';
    color: rgb(56, 175, 88);
    font-size: 20px;
}

div#member-card-dl {
    display: flex ;
    height: 40px;
    width: 180px;
    border-radius: 25px;
    background-color: rgb(52, 114, 253);
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

div#member-card-dl > h3 {
    font-family: Poppins Light;
    color: white;
    font-size: 18px;
}

div#member-card-dl:hover {
    cursor: pointer;
    background-color: rgb(47, 105, 230);
}

div#foot {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 231, 234);
}

div#foot > h1 {
    font-family: Poppins Regular;
    color: rgb(41,48,50);
    margin: 0px;
}

div#foot > h2 {
    font-family: Poppins Regular;
    color: rgb(47, 105, 230);
    font-size: 25px;
}

div#last {
    display: flex;
    height: 20px;
    width: 100%;
    background-color: rgb(224, 231, 234);
    align-items: center;
    justify-content: center;
}

div#last > a {
    color: rgb(41,48,50);
    font-family: Poppins Light;
    text-decoration: none;
    margin-right: 20px;
}

@media only screen and (max-width: 1075px){

    h1#splash-text {
        font-size: 25px;
        text-align: center;
        margin-top: -10px;
    }

    a#download {
        align-self: center;
        justify-self: center;
    }

    h2#splash-text-minor {
        font-size: 15px;
        text-align: center;
    }

    div#lander {
        height: 800px;
    }
    div#lander-downloads {
        margin-top: 100px;
        height: 200px;
    }

    div#lander-image {
        margin-top: -20px;
    }

    div#lander-downloads > p {
        text-align: center;
        margin-left: 0px;
    }

    div#why {
        height: 750px;
    }
    
    div#deserve {
        height: 50px;
        width: 500px;
        margin: 0px;
        margin-bottom: 25px;
        text-align: center;
    }

    div#deserve > h1 {
        font-size: 25px;
    }
    
    div#deserve > h2 {
        font-family: Poppins Light;
        color: rgb(41,48,50);
        font-size: 15px;
        margin-top: 0px;
    }
    
    div#deserve > a {
        font-family: Poppins Regular;
        color: rgb(47, 105, 230);
        text-decoration: none;
    }
    
    div#basics {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    div#ad-blocker {
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#ad-pic {
        margin: 0px;
        height: 250px;
        width: 250px;
    }

    div#ad-text {
        height: 200px;
        width: 525px;
        margin: 0px;
        text-align: center;
    }
    
    div#ad-text > h1 {
        font-size: 25px;
    }
    
    div#ad-text > h2 {
        font-size: 15px;
    }

    img#to-remove {
        display: none;
    }

    div#customize {
        height: 600px;
        justify-content: center;
        align-items: center;
    }

    div#browser-images > img {
        max-height: 100%;
        max-width: 100%;
    }

    div#customize-text > h1 {
        font-size: 25px;
    }
    
    div#customize-text > h2 {
        font-size: 15px;
    }

    div#development {
        height: 500px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    div#development-text {
        margin: 0px;
        text-align: center;
        width: 80%;
        height: 200px;
    }

    div#development-pic {
        margin: 0;
        height: 250px;
        width: 250px;
    }

    div#development-text > h1 {
        font-size: 25px;
    }
    
    div#development-text > h2 {
        font-size: 15px;
    } 

    div#portal-text > h1 {
        font-size: 25px;
    }

    div#portal-text > a {
        font-size: 15px;
    }

    div#membership-text > h1 {
        font-size: 25px;
    }
    
    div#membership-text > h2 {
        font-size: 15px;
    }

    div#membership-box {

        height: 350px;
        width: 300px;

    }

}

@media only screen and (max-width: 767px){
    h1#splash-text {
        text-align: center;
        margin-top: -20px;
    }
    a#download {
        align-self: center;
        justify-self: center;
    }
    div#lander {
        height: 770px;
    }
    div#lander-downloads {
        height: 200px;
        margin-top: 100px; 
    }

    div#lander-image {
        margin-top: -40px;
    }

    div#banner > img {
        margin-left: 20px;
    }

    div#why {
        height: 650px;
    }
    
    div#deserve {
        height: 200px;
        width: 85%;
    }
    
    div#basics {
        height: 400px;
        width: 100%;
    }

    div#basics-box {
        height: 300px;
        width: 350px;
    }

    div.inner-text {
        display: flex;
        height: 100%;
        width: 295px;
        flex-direction: column;
    }

    div.inner-icon {
        width: 55px;
    }
    
    div.inner-text > h3 {
        font-family: Poppins Regular;
        color: rgb(41,48,50);
        font-size: 14px; 
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    div.inner-text > h4 {
        font-family: Poppins Light;
        color: rgb(41,48,50);
        font-size: 12px;
        margin-top: 0px;
    }

    div#ad-blocker {
        height: 550px;
    }

    div#ad-pic {
        margin: 0px;
        height: 250px;
        width: 250px;
        margin-bottom: 30px;
    }

    div#ad-text {
        height: 200px;
        width: 85%;
        margin: 0px;
        text-align: center;
    }
    
    div#ad-text > h1 {
        font-size: 25px;
    }
    
    div#ad-text > h2 {
        font-size: 15px;
    }

    div#browser-images {
        display: flex;
        height: 300px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    div#customize {
        height: 500px;
    }

    div#development {
        height: 525px;
    }

    div#development-text {
        width: 90%;
        margin-top: 15px;
    }

    div#portal-image {
        height: 70%
    }

    div#portal-text {
        height: 30%;
    }

    div#portal {
        height: 450px;
    }

    div#membership-text {
        height: 175px;
    }

    div#foot > h2 {
        font-family: Poppins Regular;
        color: rgb(47, 105, 230);
        font-size: 20px;
    }
}

@media only screen and (max-width: 345px){
    div#basics-box {
        height: 300px;
        width: 300px;
    }

    div.inner-text > h3 {
        font-size: 11px;
    }

    div#why {
        height: 700px;
    }

    div#banner > img {
        margin-left: 5px;
    }

    div#portal-image {
        height: 60%
    }

    div#portal-text {
        height: 40%;
    }

    div#last > a {
        font-size: 12px;
    }
}